:root {
  --font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-mono: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --text-color: #000000;
}

body {
  position: relative;
  min-height: 100%;

  color: var(--text-color);

  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
}

body > * {
  margin: 0 auto;
  max-width: 1024px;
}

a {
  color: var(--text-color);
  font-style: italic;
  text-decoration: none;
}